<?xml version="1.0"?>
<launch>
    <arg name="instruction_topic" default="/instruction"/>
    <arg name="vln_status_topic" default="/vln_status"/>
    <arg name="vlm_status_topic" default="/VLM_Status"/>
    <arg name="subtasks_topic" default="/subtasks"/>
    <arg name="vlm_error_log_topic" default="/vlm_error_log"/>
    <arg name="grounding_status_topic" default="/grounding_dino/status"/>
    <arg name="grounding_detections_topic" default="/grounding_dino/detections"/>
    <arg name="aruco_info_topic" default="/aruco_info"/>
    <arg name="final_status_topic" default="/status"/>
    <arg name="preview_image_topic" default="/magv/camera/image_compressed/compressed"/>

    <node name="vln_operator_gui"
          pkg="vln_mock"
          type="vln_operator_gui.py"
          output="screen">
        <param name="instruction_topic" value="$(arg instruction_topic)"/>
        <param name="vln_status_topic" value="$(arg vln_status_topic)"/>
        <param name="vlm_status_topic" value="$(arg vlm_status_topic)"/>
        <param name="subtasks_topic" value="$(arg subtasks_topic)"/>
        <param name="vlm_error_log_topic" value="$(arg vlm_error_log_topic)"/>
        <param name="grounding_status_topic" value="$(arg grounding_status_topic)"/>
        <param name="grounding_detections_topic" value="$(arg grounding_detections_topic)"/>
        <param name="aruco_info_topic" value="$(arg aruco_info_topic)"/>
        <param name="final_status_topic" value="$(arg final_status_topic)"/>
        <param name="preview_image_topic" value="$(arg preview_image_topic)"/>
    </node>
</launch>
