<?xml version="1.0"?>
<launch>
    <env name="GAZEBO_MODEL_PATH" value="$(find vln_mock)/../../gazebo_world/models:$(optenv GAZEBO_MODEL_PATH)"/>

    <arg name="launch_world" default="true"/>
    <arg name="spawn_robot" default="true"/>
    <arg name="robot_profile" default="rover"/>
    <arg name="publish_sensor_tf" default="true"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="enable_odom_tf_broadcaster" default="false"/>
    <arg name="republish_compressed" default="true"/>
    <arg name="launch_rviz" default="false"/>
    <arg name="launch_operator_gui" default="false"/>
    <arg name="rviz_config" default="$(find vln_mock)/config/vln_sim_debug.rviz"/>
    <arg name="paused" default="false"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="world_file" default="$(find vln_mock)/../../gazebo_world/worlds/debug_empty.world"/>

    <arg name="image_topic" default="/magv/camera/image_compressed/compressed"/>
    <arg name="image_raw_topic" default="/magv/camera/image_raw"/>
    <arg name="image_transport_base_topic" default="/magv/camera/image_compressed"/>
    <arg name="pointcloud_topic" default="/magv/scan/3d"/>
    <arg name="planar_scan_topic" default="/magv/scan/2d"/>
    <arg name="odometry_topic" default="/magv/odometry/gt"/>
    <arg name="cmd_vel_topic" default="/magv/omni_drive_controller/cmd_vel"/>
    <arg name="world_goal_topic" default="/world_goal"/>
    <arg name="body_goal_topic" default="/body_goal"/>
    <arg name="velocity_goal_topic" default="/velocity_goal"/>
    <arg name="path_point_topic" default="/path_point"/>

    <arg name="base_frame" default="base_footprint"/>
    <arg name="alias_base_frame" default="magv/base_link"/>
    <arg name="camera_frame" default="camera_link"/>
    <arg name="camera_optical_frame" default="camera_optical_frame"/>
    <arg name="lidar_frame" default="lidar_link"/>
    <arg name="lidar_optical_frame" default="lidar_optical_frame"/>
    <arg name="map_frame" default="map"/>

    <arg name="camera_x" default="0.5"/>
    <arg name="camera_y" default="-0.04"/>
    <arg name="camera_z" default="0.57"/>
    <arg name="camera_roll" default="0.0"/>
    <arg name="camera_pitch" default="0.314"/>
    <arg name="camera_yaw" default="0.0"/>

    <arg name="lidar_x" default="0.0"/>
    <arg name="lidar_y" default="0.0"/>
    <arg name="lidar_z" default="0.25"/>
    <arg name="lidar_roll" default="0.0"/>
    <arg name="lidar_pitch" default="0.0"/>
    <arg name="lidar_yaw" default="0.0"/>

    <arg name="vlm_backend" default="qwen"/>
    <arg name="vlm_model_path" default="$(optenv VLN_QWEN_MODEL_PATH /var/tmp/vln_models/Qwen--Qwen2-VL-2B-Instruct)"/>
    <arg name="grounding_backend" default="grounding_dino"/>
    <arg name="grounding_model_path" default="$(optenv VLN_GROUNDING_MODEL_PATH /var/tmp/vln_models/grounding-dino-base)"/>
    <arg name="grounding_fallback_model_path" default="$(arg vlm_model_path)"/>

    <arg name="rover_model_file" default="$(find vln_mock)/../../gazebo_world/models/vln_rover/model.sdf"/>
    <arg name="uav_model_file" default="$(find vln_mock)/../../gazebo_world/models/vln_uav/model.sdf"/>
    <arg name="spawn_x" default="0.0"/>
    <arg name="spawn_y" default="0.0"/>
    <arg name="spawn_yaw" default="0.0"/>
    <arg name="rover_spawn_z" default="0.14"/>
    <arg name="uav_spawn_z" default="1.20"/>

    <include if="$(arg launch_world)" file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_file)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="headless" value="$(arg headless)"/>
        <arg name="verbose" value="$(arg verbose)"/>
    </include>

    <group if="$(arg spawn_robot)">
        <group if="$(eval arg('robot_profile') == 'rover')">
            <node pkg="gazebo_ros"
                  type="spawn_model"
                  name="spawn_vln_rover"
                  output="screen"
                  args="-sdf -model vln_rover -file $(arg rover_model_file) -x $(arg spawn_x) -y $(arg spawn_y) -z $(arg rover_spawn_z) -Y $(arg spawn_yaw)" />
        </group>

        <group if="$(eval arg('robot_profile') == 'uav')">
            <node pkg="gazebo_ros"
                  type="spawn_model"
                  name="spawn_vln_uav"
                  output="screen"
                  args="-sdf -model vln_uav -file $(arg uav_model_file) -x $(arg spawn_x) -y $(arg spawn_y) -z $(arg uav_spawn_z) -Y $(arg spawn_yaw)" />
        </group>
    </group>

    <group if="$(eval arg('alias_base_frame') != '')">
        <node pkg="tf2_ros"
              type="static_transform_publisher"
              name="base_alias_static_tf"
              args="0 0 0 0 0 0 $(arg base_frame) $(arg alias_base_frame)" />
    </group>

    <node if="$(arg publish_sensor_tf)"
          pkg="tf2_ros"
          type="static_transform_publisher"
          name="camera_static_tf"
          args="$(arg camera_x) $(arg camera_y) $(arg camera_z) $(arg camera_yaw) $(arg camera_pitch) $(arg camera_roll) $(arg base_frame) $(arg camera_frame)" />

    <node if="$(arg publish_sensor_tf)"
          pkg="tf2_ros"
          type="static_transform_publisher"
          name="camera_optical_static_tf"
          args="0 0 0 -1.57079632679 0 -1.57079632679 $(arg camera_frame) $(arg camera_optical_frame)" />

    <node if="$(arg publish_sensor_tf)"
          pkg="tf2_ros"
          type="static_transform_publisher"
          name="lidar_static_tf"
          args="$(arg lidar_x) $(arg lidar_y) $(arg lidar_z) $(arg lidar_yaw) $(arg lidar_pitch) $(arg lidar_roll) $(arg base_frame) $(arg lidar_frame)" />

    <node if="$(arg publish_sensor_tf)"
          pkg="tf2_ros"
          type="static_transform_publisher"
          name="lidar_optical_static_tf"
          args="0 0 0 -1.57079632679 0 -1.57079632679 $(arg lidar_frame) $(arg lidar_optical_frame)" />

    <node if="$(arg republish_compressed)"
          pkg="image_transport"
          type="republish"
          name="camera_compressed_bridge"
          output="screen"
          args="raw in:=$(arg image_raw_topic) compressed out:=$(arg image_transport_base_topic)" />

    <node if="$(arg launch_rviz)"
          pkg="rviz"
          type="rviz"
          name="rviz"
          output="screen"
          args="-d $(arg rviz_config)" />

    <include if="$(arg launch_operator_gui)" file="$(find vln_mock)/launch/vln_operator_gui.launch">
        <arg name="instruction_topic" value="/instruction"/>
        <arg name="vln_status_topic" value="/vln_status"/>
        <arg name="vlm_status_topic" value="/VLM_Status"/>
        <arg name="subtasks_topic" value="/subtasks"/>
        <arg name="vlm_error_log_topic" value="/vlm_error_log"/>
        <arg name="grounding_status_topic" value="/grounding_dino/status"/>
        <arg name="grounding_detections_topic" value="/grounding_dino/detections"/>
        <arg name="aruco_info_topic" value="/aruco_info"/>
        <arg name="final_status_topic" value="/status"/>
        <arg name="preview_image_topic" value="$(arg image_topic)"/>
    </include>

    <include file="$(find vln_mock)/launch/vln_system.launch">
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="vlm_backend" value="$(arg vlm_backend)"/>
        <arg name="vlm_model_path" value="$(arg vlm_model_path)"/>
        <arg name="grounding_backend" value="$(arg grounding_backend)"/>
        <arg name="grounding_model_path" value="$(arg grounding_model_path)"/>
        <arg name="grounding_fallback_model_path" value="$(arg grounding_fallback_model_path)"/>
        <arg name="image_topic" value="$(arg image_topic)"/>
        <arg name="pointcloud_topic" value="$(arg pointcloud_topic)"/>
        <arg name="odometry_topic" value="$(arg odometry_topic)"/>
        <arg name="cmd_vel_topic" value="$(arg cmd_vel_topic)"/>
        <arg name="world_goal_topic" value="$(arg world_goal_topic)"/>
        <arg name="body_goal_topic" value="$(arg body_goal_topic)"/>
        <arg name="velocity_goal_topic" value="$(arg velocity_goal_topic)"/>
        <arg name="path_point_topic" value="$(arg path_point_topic)"/>
        <arg name="base_frame" value="$(arg base_frame)"/>
        <arg name="alias_base_frame" value="$(arg alias_base_frame)"/>
        <arg name="map_frame" value="$(arg map_frame)"/>
        <arg name="enable_odom_tf_broadcaster" value="$(arg enable_odom_tf_broadcaster)"/>
    </include>
</launch>
